section {
  color: rgb(68, 68, 68);
  font-size: 11px;
  h1 {
    color: black;
    /* font-size: large; */
    border-bottom: 2px solid black;
    text-transform: uppercase;
    padding: 0%;
    margin: 0%;
  }
  p {
    font-size: small;
  }
  h2, h3 {
    color: black;
    margin: 0;
    padding: 0;
    font-weight: 600;
  }
  h3 {
    color: #098bff;
  }
  ul{
    list-style-position: outside;
    margin: 0;
    padding: 0;
    margin-left: 1em;
  }
  hr {
    border-top: 1px dashed grey;
  }
}

.twoColumns {
  display: flex;
  justify-content: space-between;
}
#left {
  width: 55%;
}
#right {
  width: 40%;
}
.dateAndLocation {
  display: flex;
  /* justify-content: space-between; */
  justify-content: left;
  gap: 1.5em;
}
.icon-text {
  display: flex;
  justify-content: left;
  gap: .25em;
  align-items: center;
  align-content: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;  /* Allow the items to wrap into new lines */
  justify-content: flex-start;  /* Align items to the left */
}

.skillsItem {
  /* padding: .5em; */
  padding: 0 .75em .5em .75em;
  margin: 0 10px 10px 0;
  border-bottom: 1px solid grey;
  box-sizing: border-box; /* Ensures padding and margin are included in width calculation */
  font-weight: 700;
}
.achiev-items {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  /* align-items: baseline; */
}
.a-title {
  color: #098bff;
  font-size: 2em;
}
.colored-icon {
  color: #098bff;
}
#header {
  padding-bottom: 1em;
  h3{
    font-size: medium;
    padding-bottom: .3em;
  }

}
.name {
  border: none;
  font-size: x-large;
}
.links {
  display: flex;
  /* justify-content: space-around; */
  /* flex-direction: row; */
  flex-wrap: wrap;  /* Allow the items to wrap into new lines */
  justify-content: flex-start;  /* Align items to the left */
  gap: 0em 1em;
  padding: 0;
  margin: 0;
}