section {
  h1 {
    font-size: large;
    border-bottom: 2px solid black;
    text-transform: uppercase;

  }
  p {
    font-size: small;
  }
}

.twoColumns {
  display: flex;
  justify-content: space-between;
}
#left {
  width: 65%;
}
#right {
  width: 30%;
}